ion-thumbnail {
    --size: 8rem;
    --border-radius: 35%;
}

ion-button {
    width: 100%;
    height: 200%;
    padding-top: 20%;
    --background: linear-gradient(13deg, rgba(255,239,56,1) 50%, rgba(255,255,255,1) 75%);
    --color: brown;
    font-size: 220%;
    font-weight: bold;
}

.header-background-color{
    --background: linear-gradient(13deg, rgba(255,239,56,1) 50%, rgba(255,255,255,1) 75%);
    color: brown;
    
}

.title-style {
    font-size: 350%;
    font-weight: bold;
}


.img-board {
    border: 5px brown solid;
    border-radius: 35%;
    width: 86px;
    height: 86px;
}

.no-distance {
    width: 100%;
    height: 100%;
    padding: 0 0 0 0;
    margin: 0 0 0 0; 
}


.avatar-style {
    width: 100%;
    height: 100%;
    border: 2px brown solid;
}












