<ion-header>
  <ion-toolbar class="header-background-color">
    <ion-title [ngClass]="{'title-style-game-started': !gameOnHold }" > {{ gameOnHold ? selectedRandomQuote : 'Let\'s go players!'}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="3">
          <ion-row>
            <ion-col class="ion-text-center">
                 Player 1 
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col class="ion-text-center">
                {{playerOneTime}}
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                <ion-avatar class="avatar-style">
                    <img [src]="playerOneAvatar">
                </ion-avatar>
            </ion-col>
          </ion-row> 
      </ion-col>
      <ion-col size="6">
        <ion-grid>
          <ion-row *ngFor="let row of gameArray; index as i" class="board">
            <ion-col class="no-distance" *ngIf="!gameOnHold">
              <ion-item lines="none" color="transparent">
                <ion-thumbnail *ngFor="let col of row; index as z" class="no-distance">
                  <ion-img class="img-board" [src]="getImage(i,z)" (click)="onChangeImg(i,z)"></ion-img>
                </ion-thumbnail>
              </ion-item>
            </ion-col>     
          </ion-row>
          <ion-row>
              <ion-col *ngIf="gameOnHold">
                  <ion-button (click)="startGame()">Start Game</ion-button>
              </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="3" class="pillar">
        <ion-row>
          <ion-col class="ion-text-center">
              Player 2
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
              {{playerTwoTime}}
          </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-avatar class="avatar-style">
                    <img [src]="playerTwoAvatar">
                </ion-avatar>
            </ion-col>
          </ion-row>
      </ion-col>
    </ion-row>
   
  </ion-grid>
</ion-content>
