<ion-header>
  <ion-toolbar>
    <ion-title>game</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="2">
          <ion-row>
            <ion-col>
                Player 1
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
                {{playerOneTime}}
            </ion-col>
          </ion-row>  
      </ion-col>
      <ion-col size="8">
        <ion-grid>
          <ion-row *ngFor="let row of gameArray; index as i">
            <ion-col size="6" offset="2">
              <ion-item lines="none">
                <ion-thumbnail *ngFor="let col of row; index as z">
                  <ion-img [src]="getImage(i,z)" (click)="onChangeImg(i,z)"></ion-img>
                </ion-thumbnail>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12" offset="2.8">
                <ion-button *ngIf="gameOnHold" (click)="startGame()" >Start Game</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
      <ion-col size="2">
        <ion-row>
          <ion-col>
              Player 2
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
              {{playerTwoTime}}
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
