<ion-content>
  
 
    <ion-img class="block" src="./../../assets/elements/o.png"></ion-img>
    <ion-img class="block2" src="./../../assets/elements/x.png"></ion-img>
    <ion-img class="block3" src="./../../assets/elements/o.png"></ion-img>
    <ion-img class="block4" src="./../../assets/elements/x.png"></ion-img>
    <ion-img class="block5" src="./../../assets/elements/o.png"></ion-img>
    <ion-img class="block6" src="./../../assets/elements/x.png"></ion-img>
    <ion-img class="block7" src="./../../assets/elements/o.png"></ion-img>

    <ion-grid>
      <ion-row>
        <ion-col size="8" offset="2" class="ion-text-center">
            <h1 class="animated fadeInUp delay-1s">TIC TAC TOE FOR2</h1>
            <ion-button class="animated bounceInLeft" (click)="onNavGame()">Go To Game</ion-button>
            <ion-button class="animated bounceIn" (click)="onAbout()"> About</ion-button>
            <ion-button class="animated bounceInRight" (click)="onExit()"> Exit</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

</ion-content>

